.header-gif {
    max-height: 80px;
    display: block;
    margin: 0 auto 20px; /* Center the image and add some margin below */
}

body {
    background-color: #ffe4e1; /* light red */
    font-family: 'Courier New', Courier, monospace;
    color: #fff; /* white text */
    text-align: center;
    padding: 50px;
   /* overflow: hidden; */ /* Remove this line to allow scrolling */
}
.bold-text {
    font-weight: bold;
}
.container {
    border: 5px solid #000;
    padding: 20px;
    display: inline-block;
    background-color: #ff6347; /* tomato red */
    box-shadow: 10px 10px 5px #888888;
    max-width: 800px;
    margin: auto;
    position: relative;
    z-index: 1;
    min-width: 700px;
}
h1 {
    color: #fff; /* white text */
    font-size: 3em;
}
p {
    font-size: 1.2em;
    color: #fff; /* white text */
}
.player-list {
    text-align: left;
    margin-top: 30px;
}
.player {
    margin-bottom: 5px;
}
.player h2 {
    margin: 10px 0;
    display: inline-block;
    font-size: 1.2em;
    color: #fff; /* white text */
    margin: 2px 0; /* Reduce margin to decrease space between lines */
    padding: 0; /* Ensure no extra padding */
}
.elo {
    font-size: 1em;
    color: #fff; /* white text */
    margin: 2px 0; /* Reduce margin to decrease space between lines */
    padding: 0; /* Ensure no extra padding */
}
.live-status {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 5px;
}
.discord-name {
    font-size: 1.2em;
}
.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-info div {
    flex: 1;
}
.discord-button, .twitch-button {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px; /* Increase padding to make the buttons taller */
    border-radius: 5px;
    text-decoration: none;
    max-width: 180px;
    min-height: 35px;
    white-space: nowrap;
}
.discord-button img, .twitch-button img {
    margin-right: 5px;
}
.twitch-button {
    background-color: #593e84; /* Updated Twitch background color */
}
.twitch-button.offline {
    color: gray;
}
.live-text {
    color: rgba(255, 255, 255, 0.521);
    font-weight: bold;
}
.live-text.flash {
    animation: flash 2s infinite;
    font-size: 1.6em;
}
@keyframes flash {
    0%, 50%, 100% {
        color: red;
    }
    25%, 75% {
        color: white;
    }
}
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.audio-button {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 5px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    background-size: 1400% 1400%;
    animation: rainbow 8s ease infinite;
}

/* Blue Theme */
.blue-theme body {
    background-color: #e0f7fa; /* light blue */
    color: #fff; /* white text */
}
.blue-theme .container {
    border: 5px solid #000;
    background-color: #4682b4; /* steel blue */
}
.blue-theme h1 {
    color: #fff; /* white text */
}
.blue-theme .audio-button {
    background-color: #00008b;
}
#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.footer {
    margin-top: 30px;
    font-size: 1em;
    color: #000;
    text-align: center;
    overflow: hidden; /* Ensure the wave effect stays within the container */
}
.footer a {
    color: #f370e8;
    text-decoration: none;
    font-weight: bold;
    display: inline-block; /* Ensure each link can be individually animated */
    animation: wave 2s infinite;
}
.footer a:hover {
    text-decoration: underline;
}
/* Keyframes for the wavy animation */
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(-5px);
    }
}
/* Add a slight delay to each link to create a wave effect */
.footer a:nth-child(2) {
    animation-delay: 0.1s;
}
.footer a:nth-child(3) {
    animation-delay: 0.2s;
}
.footer a:nth-child(4) {
    animation-delay: 0.3s;
}
